
<div class="footer-bottom sticky-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-left
                copyright-text"> © Copyright TMZ Cars </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-right
                social-item-link">
                <a href="#" class="fb"><i class="fa
                        fa-facebook"></i>. Facebook </a>
                <a href="#" class="twt"><i class="fa
                        fa-twitter"></i>. Twitter </a>
                <a href="#" class="gplus"><i class="fa
                        fa-instagram"></i>. Instagram </a>
            </div>
        </div>
    </div>
</div>