 <header class="site-header header-transparent style-2">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a href="/"><img
                            src="images/logo-light.png" class="logo"
                            alt=""></a>
                </div>
                <!-- nav toggle button -->
                <button data-target=".header-nav"
                    data-toggle="collapse" type="button"
                    class="navbar-toggle collapsed"
                    aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:;">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/join">Create Account </a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>