

<!-- contact area -->
<div class="container" style="padding-top: 11%;">

    <div class="row">
        <div class="col-md-4 col-sm-6 m-b30">
            <div class="icon-bx-wraper bx-style-1 p-a30
                center">
                <div class="icon-xl text-primary m-b20"> <a
                        href="#" class="icon-cell"><i
                            class="fa fa-map-marker"></i></a>
                </div>
                <div class="icon-content">
                    <h5 class="dlab-tilte text-uppercase">Address</h5>
                    <p>123 West Street, Melbourne Victoria
                        3000 Australia</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 m-b30">
            <div class="icon-bx-wraper bx-style-1 p-a30
                center">
                <div class="icon-xl text-primary m-b20"> <a
                        href="#" class="icon-cell"><i
                            class="fa fa-envelope"></i></a>
                </div>
                <div class="icon-content">
                    <h5 class="dlab-tilte text-uppercase">Email</h5>
                    <p>info@company.com <br/>
                            info@industrycompany.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b30">
                <div class="icon-bx-wraper bx-style-1 p-a30
                    center">
                    <div class="icon-xl text-primary m-b20">
                        <a href="#" class="icon-cell"><i
                                class="fa fa-phone"></i></a>
                    </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte
                            text-uppercase">Phone</h5>
                        <p>+61 3 8376 6284 <br/> +23 123 456
                                7890</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Left part start -->
                <div class="col-md-12">
                    <div class="p-a30 bg-gray clearfix
                        m-b30 ">
                        <h2>Send Us Message</h2>
                        <div class="dzFormMsg"></div>
                        <form method="post"
                            class="dzForm"
                            action="https://carzone.dexignlab.com/xhtml/script/contact.php">
                            <input type="hidden"
                                value="Contact"
                                name="dzToDo">
                            <div class="row">
                                <div class="col-md-6">
                                    <div
                                        class="form-group">
                                        <div
                                            class="input-group">
                                            <input
                                                name="dzName"
                                                type="text"
                                                required
                                                class="form-control"
                                                placeholder="Your
                                                Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div
                                        class="form-group">
                                        <div
                                            class="input-group">
                                            <input
                                                name="dzEmail"
                                                type="email"
                                                class="form-control"
                                                required
                                                placeholder="Your
                                                Email
                                                Id">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div
                                        class="form-group">
                                        <div
                                            class="input-group">
                                            <input
                                                name="dzOther[Phone]"
                                                type="text"
                                                required
                                                class="form-control"
                                                placeholder="Phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div
                                        class="form-group">
                                        <div
                                            class="input-group">
                                            <input
                                                name="dzOther[Subject]"
                                                type="text"
                                                required
                                                class="form-control"
                                                placeholder="Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div
                                        class="form-group">
                                        <div
                                            class="input-group">
                                            <textarea
                                                name="dzMessage"
                                                rows="4"
                                                class="form-control"
                                                required
                                                placeholder="Your
                                                Message..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div
                                        class="form-group">
                                        <div
                                            class="g-recaptcha"
                                            data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN"
                                            data-callback="verifyRecaptchaCallback"
                                            data-expired-callback="expiredRecaptchaCallback"></div>
                                        <input
                                            class="form-control
                                            d-none"
                                            style="display:none;"
                                            data-recaptcha="true"
                                            required
                                            data-error="Please
                                            complete the
                                            Captcha">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button
                                        name="submit"
                                        type="submit"
                                        value="Submit"
                                        class="site-button
                                        "> <span>Send</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- contact area  END -->
    <!-- contact area  END -->
    <!-- Content END-->
    <!-- Footer -->