<div class="container" style="padding-top: 12%;">

    <div class="row">
        <!-- Left part start -->
        <div class="col-md-12">
            <div class="p-a30 bg-gray clearfix m-b30 ">
                <h2>Create Account</h2>
                <div class="dzFormMsg"></div>
                <form method="post" class="" action="/join">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="Name" id="Name" type="text"
                                        required class="form-control"
                                        placeholder="Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">

                                    <input name="Phone" id="Phone" type="tel"
                                        class="form-control" required
                                        placeholder="Phone">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="Password" id="Password"
                                        type="password" required
                                        class="form-control"
                                        placeholder="Password">
                                    <span class="input-group-addon">
                                        <a href="#" onclick="togglePassword()"><i
                                                class="fa fa-eye"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{#if message}}
                                <h4 class="alert alert-success mt-4">{{message}}</h4>
                                {{/if}}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                {{#if message2}}
                                <h4 class="alert alert-danger mt-4">{{message2}}</h4>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button name="submit" type="submit"
                                class="site-button"> <span>Create</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        var passwordInput = document.getElementById("Password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }

    setTimeout(function() {
        $(".alert ").fadeOut();
    }, 5000);

</script>