<div class="container-fluid page-body-wrapper">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="typcn typcn-device-desktop menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                    aria-controls="ui-basic">
                    <i class="typcn typcn-document-text menu-icon"></i>
                    <span class="menu-title">Manage Cars</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/">Car Types</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Models</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Makes</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Bodies</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Condition</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Steering</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Fuel Types</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Exterior Color</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Interior Color</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/addcar">Add Car</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Car List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
                    aria-controls="form-elements">
                    <i class="typcn typcn-film menu-icon"></i>
                    <span class="menu-title">Manage Users</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="form-elements">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">
                                Admins</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">
                                Car Sellers</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">
                                Id Types</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                    <i class="typcn typcn-chart-pie-outline menu-icon"></i>
                    <span class="menu-title">Faqs</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                    <i class="typcn typcn-th-list menu-icon"></i>
                    <span class="menu-title">Messages</span>
                </a>

            </li>


            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                    <i class="typcn typcn-th-list menu-icon"></i>
                    <span class="menu-title">Testimonials</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                    <i class="typcn typcn-outline-money menu-icon"></i>
                    <span class="menu-title">Payments</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                    <i class="typcn typcn-globe-outline menu-icon"></i>
                    <span class="menu-title">Settings</span>
                </a>

            </li>

        </ul>
    </nav>