<div class="container-fluid page-body-wrapper">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="typcn typcn-device-desktop menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                    aria-controls="ui-basic">
                    <i class="typcn typcn-document-text menu-icon"></i>
                    <span class="menu-title">Manage Cars</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/">Car Types</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/car/models">Models</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/car/makes">Makes</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Bodies</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Condition</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Steering</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Fuel Types</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Exterior Color</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/">Interior Color</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/addcar">Add Car</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/car/cars">Car List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
                    aria-controls="form-elements">
                    <i class="typcn typcn-user menu-icon"></i>
                    <span class="menu-title">Manage Users</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="form-elements">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/admins">
                                Admins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/users">
                                Car Sellers</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/user/idtypes">
                                Id Types</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq/faqs">
                    <i class="typcn typcn-chart-pie-outline menu-icon"></i>
                    <span class="menu-title">Faqs</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/messages">
                    <i class="typcn typcn-messages menu-icon"></i>
                    <span class="menu-title">Messages</span>
                </a>

            </li>


            <li class="nav-item">
                <a class="nav-link" href="/user/testimonials">
                    <i class="typcn typcn-th-list menu-icon"></i>
                    <span class="menu-title">Testimonials</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/payments">
                    <i class="typcn typcn-arrow-minimise menu-icon"></i>
                    <span class="menu-title">Payments</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/settings">
                    <i class="typcn typcn-contacts menu-icon"></i>
                    <span class="menu-title">Settings</span>
                </a>

            </li>

        </ul>
    </nav>