<%- include ("header.ejs") %>
    <!-- header ends here  -->

    <!-- inner banner section starts here -->
    <section class="inner-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-3">
                    <h1>About Us</h1>
                    <p class="grey-text">TMZ Cars is a premium car brokerage company that can assist you in finding a
                        new existing car.</p>
                </div>
                <div class="col-lg-6 my-3 d-lg-block d-none">
                    <img src="/img/banner-sm.png" alt="banner car" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </section>
    <!-- inner banner section ends here -->

    <!-- about us section starts here -->
    <section class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <!-- <div class="col-lg-6 mt-5 d-none d-lg-block">
                    <img src="img/about-us.png" alt="about us" class="img-fluid">
                </div> -->
                <div class="col-xxl-12 ms-auto col-lg-12 my-lg-3">
                    <h3 class="d-green-text">Who <span class="green-text"> We Are</span></h3>
                    <p class="grey-text p-md">TMZ Cars is a leading digital marketplace and solutions provider for the
                        automotive industry that connects car shoppers with sellers. Launched in 1998 and headquartered
                        in Chicago, the Company empowers shoppers with the data, resources and digital tools needed to
                        make informed buying decisions and seamlessly connect with automotive retailers.</p>
                    <p class="grey-text p-md"> In a rapidly changing market, TMZ Cars enables dealerships and OEMs with
                        innovative technical solutions and data-driven intelligence to better reach and influence
                        ready-to-buy shoppers, increase inventory turn and gain market share. In 2018, TMZ Cars, an
                        innovative technology company building solutions that future-proof dealerships with more
                        efficient operations, a faster and easier car buying process, and connected digital experiences
                        that sell and service more vehicles.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- about us section ends here -->

    <!-- about us section starts here -->
    <section class="about-us pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-12 col-lg-12 my-lg-3">
                    <h3 class="d-green-text">Why <span class="green-text"> Choose Us</span></h3>
                    <p class="grey-text p-md">TMZ Cars invented car search. Our site and innovative solutions connect
                        buyers and sellers to match people with their perfect car. With our people spread across the
                        U.S. we still maintain a startup culture with innovation and passion for our people at the core
                        of everything we do.</p>
                    <p class="grey-text p-md mb-0">TMZ Cars has an award-winning brand, leadership team, and the best
                        and brightest employees in the industry. We’ve been featured as one of the top places to work by
                        The Chicago Tribune, Built in Chicago and Chicago Innovation. </p>
                </div>
                <!-- <div class="ms-auto col-lg-6 my-3 d-none d-lg-block">
                    <img src="img/about-us-2.png" alt="about us" class="img-fluid">
                </div> -->
            </div>
        </div>
    </section>
    <!-- about us section ends here -->

    <!-- footer starts here -->
    <%- include ("footer.ejs") %>