<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr class="mt-0" />
                <p class="mb-3 text-center">
                    © Copyrights <%= new Date().getFullYear() %> -
                        TMZ Cars - All
                        Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer ends here -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/all.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>
</body>

</html>