<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- TITLE -->
    <title>TMZ Cars | <%= title %>
    </title>

    <!-- FAVICON -->
    <link rel="icon" href="img/favicon.ico" type="image/gif" sizes="32x32" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link href="/css/css2.css" rel="stylesheet" />
    <!-- CSS LINKS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/slick-theme.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
</head>
<style>
    .site-input {
        border-radius: 3px !important;
    }

    .site-label {
        margin-left: 3px !important;
        margin-bottom: 8px !important;
    }

    .site-btn {
        margin-left: 3px !important;
        margin-bottom: 8px !important;
        border-radius: 3px !important;

    }

    .password-container {
        position: relative;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        text-decoration: none;
        color: #6c757d;
    }

    .toggle-password:hover {
        color: #495057;
    }

    .password-input {
        padding-right: 36px;
    }

    body {
        font-family: Georgia !important;
    }
</style>



<body>
    <!-- preloader starts here  -->
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <img src="/img/logo.png" alt="logo" class="img-fluid
                            loader-logo" />
                <div class="txt-loading">
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="G" class="letters-loading">
                        G
                    </span>
                </div>
            </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>
    <!-- preloader ends here  -->

    <!-- header starts here  -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="logo"
                                class="img-fluid site-logo" /></a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item active mx-3">
                                    <a class="nav-link" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/about">About
                                        Us</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/contact">Contact
                                        Us</a>
                                </li>

                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/career">Careers</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/join">Create
                                        Account</a>
                                </li>

                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/login">Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <p></p>