<% include layout.ejs %>

    <% block('pageTitle', function() { %>
        Home
        <% }) %>

            <% block('pageContent', function() { %>


                <!-- new car deals section starts here -->
                <section class="new-car-deals">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="d-green-text">Brand New <span class="green-text"> Car Deals</span></h3>
                                <div class="d-flex mt-2 align-items-center justify-content-center">
                                    <i class="fas green-text fa-caret-left"></i>
                                    <span class="green-line mx-1"></span>
                                    <i class="fas green-text fa-caret-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-1.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Audi TTS</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$59,500</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$59,500</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-2.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Audi S4</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$76,100</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$76,100</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-3.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Audi A3 Sedan</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$38,500</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$38,500</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-4.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Jaguar XF</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$32,998</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$32,998</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-4.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Jaguar XF</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$32,998</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$32,998</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-3.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Audi A3 Sedan</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$38,500</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$38,500</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-5.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Kia Optima SX Turbo</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$16,800</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$16,800</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 my-3">
                                <div class="car-deal-card">
                                    <div class="car-deal-img">
                                        <img src="https://dev124.onlinetestingserver.com/cy-autos-theme/preview/assets/images/car-6.png"
                                            alt="Car" class="img-fluid">
                                    </div>
                                    <div class="car-deal-tags mt-2">
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                        <span class="green-text mx-2">|</span>
                                        <p class="my-0">Feature</p>
                                    </div>
                                    <div class="car-deal-inner">
                                        <h6 class="mb-0">Bentley Continental GT Speed</h6>
                                        <div class="d-flex mt-2 align-items-center justify-content-center">
                                            <i class="fas green-text fa-caret-left"></i>
                                            <span class="green-line mx-1"></span>
                                            <i class="fas green-text fa-caret-right"></i>
                                        </div>
                                        <p class="mb-0 p-xs mt-2">Cash Price</p>
                                        <h3 class="green-text mb-0 regular">$202,500</h3>
                                        <p class="my-2 p-xs">PCP Finance From </p>
                                        <h3 class="green-text regular">$202,500</h3>
                                    </div>
                                    <div class="deal-overlay">
                                        <button class="site-btn white-border-btn"
                                            onclick="location.href='https://dev124.onlinetestingserver.com/cy-autos-theme/preview/product-details.html'">View
                                            Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <button class="site-btn">View More</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- new car deals section ends here -->




                <% }) %>