<div class="container-fluid page-body-wrapper">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="typcn typcn-device-desktop menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/car/" aria-controls="ui-basic">
                    <i class="typcn typcn-document-text menu-icon"></i>
                    <span class="menu-title">My Cars</span>
                </a>

            </li>


            <li class="nav-item">
                <a class="nav-link" href="/faq/">
                    <i class="typcn typcn-chart-pie-outline menu-icon"></i>
                    <span class="menu-title">Faqs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message/">
                    <i class="typcn typcn-messages menu-icon"></i>
                    <span class="menu-title">Messages</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/testimonial/">
                    <i class="typcn typcn-th-list menu-icon"></i>
                    <span class="menu-title">Testimonials</span>
                </a>
            </li>




        </ul>
    </nav>